Repository ibrahim0814/codecov-azure-test: changes, and which Codecov flags are due for each by the changed paths.
All: adder, subtractor, tests

codecov.yml:

coverage:
  status:
    project:
      default: off
      adder:
        flags: adder
        assume: true
      subtractor:
        target: 50%
        flags: subtractor
        assume: true
flags:
  adder:  
    paths:
      - src/adder/
  subtractor:
    paths:
      - src/subtractor/
  tests:
    paths:
      - tests/

Add Division Test
  Makefile
  tests/unit/subtractor/test_subtractor.py
Due: tests

Move Assume Flags and Test
  codecov.yml
  tests/unit/subtractor/test_subtractor.py
Due: tests

Python Testing and Coverage
  azure-pipelines.yml
Due: none

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Due: none

Fixes to pytest in azure pipeline
  azure-pipelines.yml
Due: none

Fix Pytest Typo
  azure-pipelines.yml
Due: none

Use Enterprise Codecov
  azure-pipelines.yml
Due: none

Update codecov and Tests
  .gitignore
  codecov.yml
  tests/unit/subtractor/test_subtractor.py
Due: tests

Add Fractionate
  Makefile
  src/main.py
  src/subtractor/subtractor.py
Due: subtractor

Makefile Changes
  Makefile
Due: none

Add GitlabCI
  .gitlab-ci.yml
Due: none

Update GitLab CI with test CCE token
  .gitlab-ci.yml
Due: none

Change Default Image to Custom
  .gitlab-ci.yml
Due: none

Update Runner Remove Requirements
  .gitlab-ci.yml
  requirements.txt
Due: none

Add pip cache as artifact to preserve pytest
  .gitlab-ci.yml
Due: none

Fix Invalid Yaml
  .gitlab-ci.yml
Due: none

Refactor Pipeline Config
  .gitlab-ci.yml
Due: none

Change to Codecov Python
  .gitlab-ci.yml
  requirements.txt
Due: none

Install codecov before use
  .gitlab-ci.yml
Due: none

Add Url
  .gitlab-ci.yml
Due: none

Fix Facepalm Moment on CCE Url
  .gitlab-ci.yml
Due: none

Remove config whitespace
  .gitlab-ci.yml
Due: none

Add PR comments to master
  Makefile
  codecov.yml
Due: none

Add Default Project Targets
  codecov.yml
Due: none

Only run CI steps on master
  .gitlab-ci.yml
Due: none

Change Adder And Tests
  src/adder/adder.py
  tests/unit/adder/test_adder.py
Due: adder, tests

Update Test and Add
  Makefile
  pytest-report.xml
  src/adder/adder.py
  tests/unit/adder/test_adder.py
Due: adder, tests

commit bump
  src/adder/adder.py
Due: adder

standard storage commit bump
  src/adder/adder.py
Due: adder

Edit README
  README.md
Due: none

Update azure-pipelines.yml for Azure Pipelines [skip ci]
  azure-pipelines.yml
Due: none

Update Pipelines to not use secret
  azure-pipelines.yml
Due: none

Update readme for commit on GCS
  README.md
Due: none
